@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Markazi+Text&display=swap');

:root {
    font-family:"Amiri";
  }
body{


    height: 3000px;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: 'Amiri', serif;

}
@media(max-width:476px) {
    .section_img{
        font-size: 16px;
        
    }
    .hello p{
        font-size: 16px;
    }
    
}
/*style section1*/

.section_img{
    background-image: url(images/slide-bg-1.jpg);
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    color:white;
    font-size: 24px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
   
    
    
}
.home{
    width: 50%;
    text-align: right;
}
.h1,.pa{
    text-align: right;
}
.xl{
    right: 0;
}
.part_1{
    text-align:right;
    margin-bottom: 10px;
    position: relative;
}
/* style section welcome*/
.part_1 h2:after{
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background-color:#ffc107;
    position:absolute;
    right: auto;
    top:40px;
    padding: 0;
}
.xf{
    display:none
}
/*style section deatils*/
.tr{
    position: relative;
    margin-bottom: 30px;
}
.tarhib{
    position:absolute;
    width: 75%;
    left:0;
    top:0
}
.details{
    display: none;
}
/* style section_k*/
.section_k{
    display: none;
}
.kh{
    text-align: right;
}
.p_1 div img{
    width: 48%;
    height: 400px;
}

.p_1{
    position: relative;
}
.p_1 div{
    font-size: 12px;
    position: absolute;
    top: 0;
    width: 45%;
    left: 0;
    
    
    
}

.p_1 img{
    width: 45%;
}
@media(max-width:767px) {
  
    .k{
        margin-top:25px;
    }
    
}
.p_1 div h5{
    margin: 0;
}
/*style section who we are*/
.who{
    background-image: url(images/who-we-are-bg.jpg);
    background-size: cover;
    background-position: center;
    height:700px;
    text-align: center;
    color: white;
    margin-top: 75px;
    
}
#our{
    font-weight: 500;
    
}
.play-btn{
    display: block;
    height:100px;
    width:100px;
    background: rgba(255,255,255,.6) none repeat scroll 0 0;
    margin:220px auto;
    border-radius: 50%;

}
.play-btn i{
    
    line-height: 100px;
    color:yellow;
    font-size: 32px;
   
}







