@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Markazi+Text&display=swap');

:root {
    font-family:"Amiri";
  }
body{

    
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: 'Amiri', serif;
   
   

}

ul{
    list-style-type: none;
    padding: 0
}

@media(max-width:476px) {
    .section_img{
        font-size: 16px;
        
    }
    .hello p{
        font-size: 16px;
    }
    
}
.he{
    margin-bottom: 200px;
    font-size: 24px;
    color:#444;
}
.he p{
    color:deeppink;
}
.carousel-control-prev span:hover{
    background-color: gold;

}
.carousel-control-next span:hover{
    background-color: gold;
}

/*style section1*/

.section_img{
   
    background-image: url(images/slide-bg-1.jpg);
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    color:white;
    font-size: 24px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:100px

    
   
    
    
}
.home{
    width: 50%;
    text-align: right;
    padding: 0;
}
.h1,.pa{
    text-align: right;
}
.xl{
    right: 0;
}
.part_1{
    text-align:right;
    margin-bottom: 10px;
    position: relative;
}
/* style section welcome*/
.part_1 h2:after{
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background-color:#ffc107;
    position:absolute;
    right: auto;
    top:40px;
    padding: 0;
}

/*style section deatils*/
.tr{
    position: relative;
    margin-bottom: 30px;
}
.tarhib{
    position:absolute;
    width: 75%;
    left:0;
    top:0
}

/* style section_k*/

.kh{
    text-align: right;
}
.p_1 div img{
    width: 48%;
    height: 400px;
}

.p_1{
    position: relative;
}
.p_1 div{
    font-size: 12px;
    position: absolute;
    top: 0;
    width: 45%;
    left: 0;
    
    
    
}

.p_1 img{
    width: 45%;
}
@media(max-width:767px) {
  
    .k{
        margin-top:25px;
    }
    
}
.p_1 div h5{
    margin: 0;
}

/*style section who we are*/
.who{
    background-image: url(images/who-we-are-bg.jpg);
    background-size: cover;
    background-position: center;
    height:700px;
    text-align: center;
    color: white;
    margin-top: 75px;
    
}
#our{
    font-weight: 500;
    
}
.play-btn{
    display: block;
    height:100px;
    width:100px;
    background: rgba(255,255,255,.6) none repeat scroll 0 0;
    margin:220px auto;
    border-radius: 50%;

}
.play-btn i{
    
    line-height: 100px;
    color:yellow;
    font-size: 32px;
   
}
/* style info */


.imagA {
    position: relative;
   
    
}
.imagA img{
    margin-top: 10px;
    width: 30%;
    height: 100px;
    border-radius: 50%;
}
.imagA div{
    position:absolute;
    top: 0;
    left: 0;
    width: 66%;
}
.imagA div p{
    height: 100px;
    
    
}
@media(max-width:767px){
    .imagA{
        font-size:16px;
        margin-bottom:22%;
    }
    .imagA div p{
        height: 50px;
        
    }
        
  

}
@media(min-width:768px){
    .imagA div p{
        margin-bottom:35px;
    }

}
.item {
    padding-top:75px;
    margin-top:150px;
    text-align: center;
    background-image: url(images/subscribe-our-newsletter-bg.jpg);
    background-size: cover;
    background-position: center;
    height:500px;
    color:white;

}
.idh{
    margin-top:70px;
}
.in{
    
    width:50%;
    height:40px;
    border: none;
    padding-right:30px;
    outline: none;
}
.bt{
    height: 40px;
    margin-top: -3.5px;

}
@media(max-width:760px){
    .in,.bt{
        width: 100%;
        margin-bottom: 10px;
    }

}
/*stylre ournews*/
.blog{
    transition: all 0.3s;
}
.blog:hover{
    opacity: 0.8;
}
/*style finish*/
.finish{
    background: #071c33;
    padding-top: 70px;
    height: 450px;

}

.footer{
    position: relative;
    margin-bottom: 30px;
    border-bottom: 0.5px solid white;
    padding-bottom: 20px;
}
.footer div{
    height: auto;
    position: absolute;
    top:0;
    right:75px;
    margin:0;
    padding: auto;
   
}
.media li{
    display: inline-block;
    margin:auto;
}
.media li a i:hover{
    opacity: 0.8;

}
#ir{
    width: 60%;
    height: 50px;
}
#btn_ir{
    width: 35%;
    height: 50px;
    margin-top:-5px;

}
.contact h5,.contact p,.contact form ,.contact div{
    margin-bottom: 40px;
}
@media(max-width:993px){
    .finish{
        height:1200px;
        padding-top:50px;
        font-size: 16px;
    }
  
    .footer div {
        padding-bottom: 5px;
    }
}

.author{
    height: 75px;
    background-color: #04101e;
    color: #838d99;
}
.j{
    line-height: 75px;
}
@media(max-width:766px){
    .author{
        height: 150px;
    }
}

#back-to-top{
    
    display: none;
    height: 40px;
    width: 40px;
    background-color: #444;
    color: #ffc527;
    position: fixed;
    bottom:76px;
    left: 5%;
    text-align: center;
    font-size: 24px;
     padding: auto;
     transform: rotate(-90deg);
    border-radius: 2px;
}

#back-to-top i{
    display: block;
    width: 100%;
    height: 100%;
    margin:6px auto;
    
    
    
    
    
}





